body {
  font-family: "Open Sans", sans-serif;
  font-size: 16pt;
}

header,
main,
footer {
  max-width: 760px;
  min-width: 320px;
  margin: 0 auto;
  padding: 1.5rem;
}

header,
footer {
  text-align: center;
  background-color: #73acfa;
}

main img {
  width: 100%;
}

/*!                      Main Grid Loyout                       */

.main-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;
}

.section-1,
.section-2,
.section-3 {
  border-radius: 10px 10px 0px 0px;
  background-color: rgba(114, 213, 216, 0.336);
}

.heading-1,
.heading-2,
.heading-3 {
  background-color: rgba(31, 187, 192, 0.527);
  text-align: center;
  border-radius: 10px 10px 0px 0px;
  margin: 0px;
}
