body {
  font-family: "Nunito Sans", sans-serif;
  font-size: 16pt;
}

header,
main,
footer {
  max-width: 760px;
  margin: 0 auto;
  padding: 1.5rem;
}

header,
footer {
  text-align: center;
  background-color: #72efdd;
}

main {
  background-color: #64dfdf;
}

header img {
  width: 10%;
  float: left;
  border: 1px ridge #5e60ce;
  margin-right: 10px;
}

h1,
h2 {
  text-align: left;
}

img {
  max-width: 100%;
}

nav {
  background-color: #48bfe3;
  font-weight: bold;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
  overflow: hidden;
}

nav ul li a {
  display: block;
  padding: 0.75rem;
  text-decoration: none;
  color: #000000;
}

nav a:hover {
  background-color: #5e60ce;
}

a:active {
  color: red;
}

/*Color Schame*/
.box {
  float: right;
  width: 200px;
  height: 20px;
  margin: 5px;
  border: 3px solid #000000;
  background: #72efdd;
  text-align: center;
}

.box2 {
  float: right;
  width: 200px;
  height: 20px;
  margin: 5px;
  border: 3px solid #000000;
  background: #64dfdf;
  text-align: center;
}

.box3 {
  float: right;
  width: 200px;
  height: 20px;
  margin: 5px;
  border: 3px solid #000000;
  background: #5e60ce;
  text-align: center;
}
